/*Titre de la page*/
#titre{
    background-color: rgb(81, 142, 233);
    text-align: center;
    font-size: 100xp;
}
/* Le corps de la page*/
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
   
}

/*Les boutons de la page*/
.bouton{
    display: flex;
    display: inline;
    background-color: rgb(204, 204, 39);
    text-decoration: none;
   font-weight: 300;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*barre de navigation de la page d'acceuil*/
#BarredeNavigation{
    text-align:initial;
    background-image:url(Image/image1.jpg ) ;
    border-image:round;
}
/*Les liens externes et internes de la page*/
a{
    text-decoration: none;
}
/*entête de Produits */

.entete{

    background-color: rgb(114, 126, 231);
    
    text-align: center;  
}
.garanti{
    font-family: fantasy;
}
#apple{
    display: flex;
}